<div class="span8 boxy text-center offset3">
	<h1 class="h1-custom">
			Upload another lesson
		</h1>
		<br />


	<%= simple_form_for @pic do |f|%>
		<%= f.input :lesson, :label => 'Your latest lesson', :placeholder => '1,2, etc.' %>
		<%= f.input :emotion, :label => 'How did you feel?', :placeholder => 'Stoked, Happy or Jazzed' %>
		<%= f.input :learn, :label => 'What did you learn?', :placeholder => 'HTML5, CSS, Rails, Github, etc.' %>
		
		<br />
		<br />
		<%= submit_tag 'Save', :class => 'btn btn-success btn-large' %>

	<% end %>

</div>